@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root{
	--row-count: 6;
	--column-count: 1;
}
html{height: 100%;}
html, body{
	padding: 0;
	margin: 0;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	height: 100%;
	font-family: 'Inconsolata', monospace;
	color: white;
}
canvas{
	width: 75%;
	height: 75%;
	/* background-color: #222; */
}
#settings{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.5em;
	display: flex;
}
#settings:hover{
	background-color: #ffffff44;
}
#settingsContent{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}
.settingbox{
	display: flex;
	align-items: center;
}
a{
	display: flex;
	color: white;
}
a:hover{color: #aaa;}
#svgversion{
	position:fixed;
	bottom:1rem;
}
.dot{
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	margin: 10px;
}
.none{background: #00000000; fill: #00000000;}
.one{background: #fff; fill: #fff;}
.zero{background: #222; fill: #222;}

/* HTML Version */
#clock{
	width: fit-content;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	padding: 10px;
}
.column{
	display: grid;
	grid-template-columns: repeat(var(--column-count), 1fr);
	grid-template-rows: repeat(var(--row-count), 1fr);
	align-items: center;
	justify-items: center;
	grid-auto-flow: column;
}

/* SVG Version */
#bigClock, #smallClock{max-width: 75vmin; max-height: 75vmin;}